/* ----------------------- BUTTONS ---------------------- */

.btn-primario {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    padding: 0.6875rem 3rem;
    border: 2px solid var(--color-blanco);
    color: var(--color-blanco);
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

/* ------------------------ TITLE ----------------------- */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto 5.0625rem auto;
    text-align: center;
}

.title h2 {
    font-size: 3.25rem;
    font-weight: 400;
    color: var(--color-secundario);
}

.title p {
    font-size: 1.12rem;
}

/* ----------------------- BANNER ----------------------- */

.banner-container {
    position: relative;
}

.banner {
    width: 100%;
    max-height: 570px;
    min-height: 270px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.25rem;
    font-weight: 600;
    color: var(--color-blanco);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}

.banner::before {
    content: "";
    background: rgba(0, 0, 0, 0.185);
    position: absolute;
    width: 100%;
    height: 100%;
}

.banner h2 {
    z-index: 1;
}

.down-arrow {
    background-color: var(--color-blanco);
    z-index: 1;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
    cursor: pointer;
    transition: all 300ms;
}

.down-arrow:hover {
    transform: translateX(-50%) scale(1.1);
}

/* -------------------- PRESENTACION -------------------- */

.presentacion-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 690px;
}
.presentacion__img {
    width: 50%;
    background: url(/img/contacto/Carne-asada-form.png) no-repeat;
    background-position: 33% 100%;
}

.presentacion__content {
    width: 50%;
    color: var(--color-blanco);
    background-color: var(--color-primario);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5.75rem 2.5rem;
}

/* -------------------- NOTA FLOTANTE ------------------- */

.nota-flotante {
    max-width: 596px;
    width: 50%;
    padding: 2.5rem;
    position: absolute;
    right: 0;
    top: 40%;
    font-weight: 400;
    background-color: var(--color-blanco);
}

.nota-flotante-right {
    font-weight: 400;
    max-width: 596px;
    width: 50%;
    padding: 2.5rem;
    position: absolute;
    left: 0;
    top: 20%;
    background-color: var(--color-primario);
    color: var(--color-blanco);
}

.nota-flotante p,
.nota-flotante-right p {
    font-size: 1.25rem;
}

.nota-flotante h3,
.nota-flotante-right h3 {
    color: var(--color-secundario);
    font-size: 2.31rem;
    font-weight: 400;
}

/* -------------------- MEDIA QUERIES ------------------- */
@media screen and (max-width: 768px) {
    .banner {
        font-size: 2.5rem;
    }
    .nota-flotante {
        position: relative;
        padding: 2.5rem 0 0 0;
        width: 100%;
    }

    .title {
        margin: 0px auto 3.0625rem auto;
    }
    .title h2 {
        font-size: 2.5rem;
    }
    .presentacion__img {
        width: 100%;
        min-height: 600px;
    }
    .presentacion__content {
        width: 100%;
        min-height: 600px;
    }
}
