* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

.header {
    /*Flexbox*/
    display: flex; 
        
    /*Alinear los elementos con un espacio */
    justify-content: flex-start;

    /*Ajustamos el ancho maximo*/
    max-width: 100%;
    
    /*Tamaño letra con medidas relativas raiz*/
    font-size: 1.8vw;

    /*Relleno*/
    padding: .5rem 2rem .5rem 1rem;

    /*color de fondo*/
    background-color: #8e1719;

    /*color de letras*/
    color: white;
}

.header .info {
    display: flex;
    margin: 0 2vw;
    gap: 1.5vw;
}

.header .info p{
    display: grid;
    place-content: center;
}

.header i {
    font-size: 2.5vw;
}

